In [1]:
from bs4 import BeautifulSoup as bsp
import requests as rqst
import pandas as pd

In [2]:
url=rqst.get('https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget')

In [3]:
url

In [4]:
df3 = pd.DataFrame(columns=['Old'])

In [5]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Referer': 'https://www.google.com/',  
    'Connection': 'keep-alive',
}

In [6]:

url=rqst.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(1),headers=headers).text

In [7]:
soup=bsp(url,'lxml')

In [8]:
#print(soup.prettify())

In [9]:
comp_of_india=soup.find_all('h1') [0]

In [10]:
heading=comp_of_india.text.strip()

In [11]:
List_comp=soup.find_all('h2',class_="companyCardWrapper__companyName")

In [12]:
companies_scrapped=[i.text.strip() for i in List_comp]

In [13]:
Rating=soup.find_all('span', class_='companyCardWrapper__companyRatingValue')

In [14]:
Rating_scrapped=[i.text.strip() for i in Rating]

In [15]:
Reviews_scrapped=[i.text.strip() for i in (soup.find_all('span', class_='companyCardWrapper__ActionCount'))]

In [16]:
Div=soup.find_all('div',class_='companyCardWrapper__tertiaryInformation')

data={
    'Names':companies_scrapped,
    'Reviews':Rating_scrapped
    
}

df=pd.DataFrame(data)

In [17]:
import re

ages_=[]
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    m=re.search(r'(\d+ years old)',i.text.strip())
   
    if  m:
        age = m.group(0)
        ages_.append( age)

for i in ages_:
    df3.loc[len(df3)]=i

In [18]:
 extracted_data = []
for i in range(len(Rating)):
    wi=[k. text. strip() for k in soup.find_all('div',class_='companyCardWrapper__tertiaryInformation')[i].
                find_all('span',class_='companyCardWrapper__ActionCount')]
    extracted_data.append(wi)

In [19]:
df2=pd.DataFrame(extracted_data,columns=[['R','Salaries','Interviews','Jobs','Benefits','Photos']])

scrapped_df = pd.concat([df, df2],axis=1)
scrapped_df.columns=[['Names', 'Review','Ratings', 'Salaries','Interviews','Jobs','Benefits','Photos']]
scrapped_df=pd.concat([scrapped_df,df3],axis=1)

In [20]:
scrapped_df.columns=[['Names','Review','Ratings','Salaries',
'Interviews','Jobs','Benefits','Photos','Old']]

In [21]:
scrapped_df

,Names,Review,Ratings,Salaries,Interviews,Jobs,Benefits,Photos,Old
0,TCS,3.8,73.8k,846.4k,6.5k,925,11.6k,77,56 years old
1,Accenture,4.0,46.8k,580.3k,4.6k,26.3k,7.1k,39,35 years old
2,Cognizant,3.9,42.1k,555.1k,3.8k,391,5.8k,63,30 years old
3,Wipro,3.8,39.7k,424.3k,3.8k,235,5k,79,79 years old
4,Capgemini,3.9,34.3k,412.2k,3k,624,4k,32,57 years old
5,HDFC Bank,4.0,34.2k,130.9k,1.6k,212,3.3k,4,30 years old
6,ICICI Bank,4.0,33.8k,140.9k,1.9k,57,3.8k,48,30 years old
7,Infosys,3.8,32.1k,457.4k,5k,945,5.2k,85,43 years old
8,HCLTech,3.7,28.9k,292.6k,2.6k,281,4.1k,35,33 years old
9,Tech Mahindra,3.7,27.9k,249.6k,2.5k,1k,3.6k,42,38 years old
10,Genpact,3.9,26.5k,186.4k,2k,626,3.7k,36,27 years old
11,Axis Bank,3.9,22.2k,97.2k,1.1k,179,2.2k,45,31 years old
12,Teleperformance,3.6,22.2k,83.6k,1.3k,389,2k,29,46 years old
13,Concentrix Corporation,3.9,22k,105.5k,1.1k,85,3.3k,33,41 years old
14,Jio,4.0,20.8k,65.6k,1.2k,132,2.6k,43,17 years old
15,Amazon,4.1,20.7k,121.3k,3.5k,178,4.2k,53,30 years old
16,IBM,4.1,19.9k,217.3k,1.6k,2.7k,2.7k,20,113 years old
17,Reliance Retail,4.0,19k,60k,1.2k,153,2k,101,18 years old
18,HDB Financial Services,4.0,18.3k,49.4k,607,108,1.5k,32,17 years old
19,Larsen & Toubro Limited,4.1,16.8k,79.1k,1.1k,151,2.9k,32,86 years old

In [22]:
scrapped_df.to_csv('D:\WebScraping\Companies_Data.csv')